
.filter__container {


  .toggleFilter {
    display: flex;
    align-items: center;
    margin: 5px 0 10px 0;

    i {
      font-size: 20px;
    }

  }
  .filter__wrapper {


    .filter__item {
      display: flex;
      gap: 10px;
      margin: 0 auto;

      .filter__label {
        font-size: 20px;
      }

      .filter__input {
        input {
          accent-color: #1cb8e8;
        }
      }
    }
  }
}
